:root {
    --main-color: #4cb3bd;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.container {
    width: 600px;
    padding: 0 15px;
}
/*Style Canava*/
.canava,
.gameover,
.namecanava {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4cb3bdb3;
    z-index: 10000;
    transform: scale(0);
    transition: transform 1s;
    animation: scaling 0.5s linear forwards;
    animation-play-state: running;
}
.canava {
    gap: 30px;
}
.canava h2 {
    padding: 10px;
    border-radius: 4px;
    background: yellow;
}
.canava .shapes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border-radius: 4px;
    padding: 20px;
    background: white;
    overflow: hidden;
}
.canava .shapes > span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: #03bd5f;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    color: #464646;
    font-weight: 600;
    cursor: pointer;
}
.canava .shapes > span i {
    font-size: 40px;
    color: white;
    transition: font-size 0.1s ease-in-out;
}
.canava .shapes > span span {
    font-size: 14px;
    transition: font-size 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.canava .shapes > span span strong {
    font-size: 19px;
}
.canava .shapes > span:hover {
    transform: scale(1.1);
    background-color: #04d46c;
}
.canava .shapes > span:hover i {
    font-size: 60px;
}
.canava .shapes > span:hover span,
.canava .shapes > span:hover strong {
    font-size: 0px;
}
/*Style Name Canava*/
.namecanava input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    background-color: #ebebeb;
    border: none;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}
@keyframes scaling {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
/*Style GameOver Canava*/
.gameover .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 270px;
    border-radius: 6px;
    background-color: #ffffffe0;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.gameover .cardInfo .header {
    font-size: 25px;
    padding: 7px 60px;
    border-radius: 4px;
    color: white;
}
.gameover .cardInfo .wrongInfo,
.gameover .cardInfo .rightInfo {
    text-align: center;
    padding: 5px;
    width: 120px;
    border-radius: 4px;
    background-color: #e94c4c;
    color: white;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gameover .cardInfo .rightInfo {
    background-color: #03bd5f;
}
.gameover .cardInfo .again {
    padding: 6px 45px;
    border-radius: 4px;
    border: 3px solid var(--main-color);
    color: black;
    cursor: pointer;
    filter: brightness(0.9);
    transition: background-color 0.3s;
}
.gameover .cardInfo .again:hover {
    background-color: var(--main-color);
    color: white;
}
/*Style Info Banel*/
.info-banel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 20px auto;
    box-shadow: 0 0 11px #00000017;
    border-radius: 4px;
    overflow: hidden;
}
.info-banel div {
    font-weight: 600;
    width: calc(100% / 3);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: end;
}
.info-banel .name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-banel .name .userName {
    width: fit-content;
}
.info-banel span {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #05c0d3;
    padding: 2px 5px;
    max-width: 50px;
    border-radius: 4px;
    background: #eee;
    margin: 0 5px;
    text-transform: uppercase;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info-banel .name i {
    cursor: pointer;
}
.info-banel .name i:hover {
    transform: scale(1.1);
}
/*Style Game Banel*/
.game-banel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 720px;
    height: 580px;
    border: 5px solid var(--main-color);
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
}
.game-banel.noClick {
    pointer-events: none;
}
/*Style Box*/
.game-banel .box {
    position: relative;
    box-shadow: 0 0 11px var(--main-color);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}
.game-banel .box.active,
.flliped {
    transform: rotateY(180deg);
}
.game-banel.finished .box {
    z-index: 20;
    transform: translateY(1000px);
}
/*Style Face*/
.game-banel .box .face {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dedede;
    text-align: center;
    backface-visibility: hidden;
}
/*Style Front*/
.game-banel .box .front {
    background-color: #a9a9a9;
}
.game-banel .box .front::before {
    content: "?";
    font-weight: 900;
    font-size: 130px;
}
/*Style Back*/
.game-banel .box .back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
}
.game-banel .flliped .back {
    background-color: #424242 !important;
}
/*Style Icon*/
.game-banel .box .back i {
    color: #303030;
    font-size: 80px;
    transition: transform 0.3s;
}
.game-banel .flliped i {
    color: #05c0d3 !important;
    animation: right 0.3s ease-in-out 0.3s alternate;
    animation-play-state: running;
}
@keyframes right {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
.box .back i.wrong {
    color: red;
    animation: wrong 0.3s linear 0.3s alternate;
    animation-play-state: running;
}
@keyframes wrong {
    25% {
        transform: translateX(-40px);
    }
    50% {
        transform: translateX(40px);
    }
    75% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(40px);
    }
}
/*Phones*/
@media (max-width: 500px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .info-banel {
        padding: 0 7px;
    }
    .info-banel div {
        width: calc((100% - 75px) / 2);
    }
    .info-banel span {
        font-size: 14px;
    }
    .info-banel .tries {
        font-size: 14px;
    }
    .game-banel {
        width: 330px;
        height: 270px;
    }
    .front::before {
        font-size: 60px !important;
    }
    .canava .shapes {
        width: 300px;
    }
    .canava .shapes > span {
        width: 80px;
        height: 80px;
    }
    .box .back i {
        font-size: 35px !important;
    }
}
/*medium screen and large*/
@media (min-width: 500px) and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 0 15px;
    }
    .info-banel span {
        font-size: 15px;
    }
    .info-banel .tries {
        font-size: 15px;
    }
    .game-banel {
        width: 480px;
        height: 350px;
    }
    .front::before {
        font-size: 70px !important;
    }
    .canava .shapes {
        width: 380px;
    }
    .canava .shapes > span {
        width: 85px;
        height: 85px;
    }
    .box .back i {
        font-size: 50px !important;
    }
}
